<div class="">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-6">
            <div class="btn-group">
                <button class="btn btn-success btn-lg" ng-click="addPerspectiva()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-primary btn-lg" ng-click="updatePerspectiva()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-danger btn-lg" ng-click="removePerspectiva()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <h3>Perspectivas de la estrategia</h3>
    <table ng-table="tableParams" class="table table-bordered table-hover table-condensed table-striped table-objetivos-de-perspectiva" show-filter="false">
        <colgroup>
            <col width="80%" />
        </colgroup>
        <tr ng-repeat="row in $data track by row.id" ng-click="onSelectItem(row)" ng-class="{selected: row.id === selectedPerspectiva}">
            <td title="'PERSPECTIVAS'" sortable="'name'">
                {{row.name}}
            </td>
        </tr>
    </table>
</div>