<div>
    <div class="modal-header">
        <h3>Nuevo Indicador</h3>
    </div>
     <form name="form.userForm" ng-submit="submitForm()" class="form-horizontal" role="form" novalidate>
        <div class="modal-body form-group" >
            <div class="col-sm-6">
                <label for="nombre" >Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" ng-model="$ctrl.userForm.nombre" ng-maxlength="12"  placeholder="Ej. Ganarle a Baltasar al tenis" required />
            </div>

            <div class="col-sm-3">
                <label for="valor">Valor</label>
                <input type="number" name="valor" class="form-control" ng-model="$ctrl.userForm.valor" required />
            </div>
        </div>
        <!-- <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" ng-submit="submitForm()" >OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div> -->
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="form.userForm.$invalid" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </form>
</div>