<div id="page-wrapper2">
    <h1>Objetivos</h1>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-3">
            <div class="btn-group">
                <button class="btn btn-success btn-lg" ng-click="createObjetivo()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-primary btn-lg" ng-click="updateObjetivo()" ng-disabled="!selectedObjetivo">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-danger btn-lg" ng-click="deleteObjetivo()" ng-disabled="!selectedObjetivo">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <search-box on-select="onSelectObjetivo(value)" url="selectedObjetivo.name" data="objetivos" message="'Seleccionar objetivo...'"></search-box>
            <!-- <h4>{{selectedObjetivo.id}}</h4> -->
        </div>
    </div>
    <div>
        <h3>Descripción</h3>
        <p>Cillum quis sint consequat eu dolor mollit adipisicing consequat elit duis ad velit pariatur dolor. Dolor occaecat et velit reprehenderit proident exercitation nulla amet. Id magna commodo irure eu fugiat nulla deserunt eu. Sit elit ipsum amet deserunt cupidatat proident culpa.</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <kpis-table id="selectedObjetivo.id"></kpis-table>
        </div>
        <div class="col-lg-6">
            <objetivos-afectados-table id="selectedObjetivo.id"></objetivos-afectados-table>
        </div>
    </div>
</div>